In [1]:
import requests
r_fl = requests.get('https://api.mashvisor.com/v1.1/client/city/top-markets?state=FL', headers={'x-api-key':'5725594e-0d74-42f4-b436-1c822771152b'})

In [12]:
florida=r_fl.json()
florida

{'status': 'success',
 'content': [{'city': 'Miami',
   'state': 'FL',
   'smart_location': 'Miami, FL',
   'homes_for_sale': 3015},
  {'city': 'Jacksonville',
   'state': 'FL',
   'smart_location': 'Jacksonville, FL',
   'homes_for_sale': 2061},
  {'city': 'Cape Coral',
   'state': 'FL',
   'smart_location': 'Cape Coral, FL',
   'homes_for_sale': 1798},
  {'city': 'Fort Myers',
   'state': 'FL',
   'smart_location': 'Fort Myers, FL',
   'homes_for_sale': 1700},
  {'city': 'NAPLES',
   'state': 'FL',
   'smart_location': 'NAPLES, FL',
   'homes_for_sale': 1627}],
 'message': 'Top markets list fetched successfully'}

In [15]:
florida['content']

[{'city': 'Miami',
  'state': 'FL',
  'smart_location': 'Miami, FL',
  'homes_for_sale': 3015},
 {'city': 'Jacksonville',
  'state': 'FL',
  'smart_location': 'Jacksonville, FL',
  'homes_for_sale': 2061},
 {'city': 'Cape Coral',
  'state': 'FL',
  'smart_location': 'Cape Coral, FL',
  'homes_for_sale': 1798},
 {'city': 'Fort Myers',
  'state': 'FL',
  'smart_location': 'Fort Myers, FL',
  'homes_for_sale': 1700},
 {'city': 'NAPLES',
  'state': 'FL',
  'smart_location': 'NAPLES, FL',
  'homes_for_sale': 1627}]

In [17]:
#transform json into dataframe
import pandas as pd
pd.DataFrame.from_dict(florida['content'])#this tells which part of dict to transform into dataframe

           city state    smart_location  homes_for_sale
0         Miami    FL         Miami, FL            3015
1  Jacksonville    FL  Jacksonville, FL            2061
2    Cape Coral    FL    Cape Coral, FL            1798
3    Fort Myers    FL    Fort Myers, FL            1700
4        NAPLES    FL        NAPLES, FL            1627

In [38]:
real_fl = r_fl.content
print(real_fl)

b'{"status":"success","content":[{"city":"Miami","state":"FL","smart_location":"Miami, FL","homes_for_sale":3020},{"city":"Jacksonville","state":"FL","smart_location":"Jacksonville, FL","homes_for_sale":2064},{"city":"Cape Coral","state":"FL","smart_location":"Cape Coral, FL","homes_for_sale":1798},{"city":"Fort Myers","state":"FL","smart_location":"Fort Myers, FL","homes_for_sale":1703},{"city":"NAPLES","state":"FL","smart_location":"NAPLES, FL","homes_for_sale":1628}],"message":"Top markets list fetched successfully"}'

In [18]:
r_orl_fl = requests.get("https://api.mashvisor.com/v1.1/client/city/investment/FL/Orlando", headers={'x-api-key':'5725594e-0d74-42f4-b436-1c822771152b'})
orlando=r_orl_fl.json()
orlando

{'status': 'success',
 'content': {'median_price': 270000,
  'sqft': 1619.56,
  'investment_properties': 630,
  'airbnb_properties': 2865,
  'traditional_properties': 2662,
  'occupancy': 55,
  'traditional_coc': 2.96405,
  'airbnb_coc': 0.9744,
  'traditional_rental': 1484.18,
  'airbnb_rental': 1489.81,
  'airbnb_rental_rates': {'zeroBedRoomHomeValue': 1059.42,
   'oneBedRoomHomeValue': 1107.26,
   'twoBedRoomsHomeValue': 1260.5,
   'threeBedRoomsHomeValue': 1980.61,
   'fourBedRoomsHomeValue': 3278.09},
  'traditional_rental_rates': {'zeroBedRoomHomeValue': 1095.74,
   'oneBedRoomHomeValue': 1065.17,
   'twoBedRoomsHomeValue': 1272.7,
   'threeBedRoomsHomeValue': 1605.35,
   'fourBedRoomsHomeValue': 2046.75}},
 'message': 'City Overview fetched successfully'}

In [19]:
pd.DataFrame.from_dict(orlando['content'])

,median_price,sqft,investment_properties,airbnb_properties,traditional_properties,occupancy,traditional_coc,airbnb_coc,traditional_rental,airbnb_rental,airbnb_rental_rates,traditional_rental_rates
zeroBedRoomHomeValue,270000,1619.56,630,2865,2662,55,2.96405,0.9744,1484.18,1489.81,1059.42,1095.74
oneBedRoomHomeValue,270000,1619.56,630,2865,2662,55,2.96405,0.9744,1484.18,1489.81,1107.26,1065.17
twoBedRoomsHomeValue,270000,1619.56,630,2865,2662,55,2.96405,0.9744,1484.18,1489.81,1260.50,1272.70
threeBedRoomsHomeValue,270000,1619.56,630,2865,2662,55,2.96405,0.9744,1484.18,1489.81,1980.61,1605.35
fourBedRoomsHomeValue,270000,1619.56,630,2865,2662,55,2.96405,0.9744,1484.18,1489.81,3278.09,2046.75

In [20]:
r_mia_fl = requests.get("https://api.mashvisor.com/v1.1/client/city/investment/FL/Miami", headers={'x-api-key':'5725594e-0d74-42f4-b436-1c822771152b'}) 
miami = r_mia_fl.json()
miami

{'status': 'success',
 'content': {'median_price': 450000,
  'sqft': 1508.31,
  'investment_properties': 3015,
  'airbnb_properties': 1884,
  'traditional_properties': 10448,
  'occupancy': 57,
  'traditional_coc': 1.95135,
  'airbnb_coc': -0.892265,
  'traditional_rental': 2139,
  'airbnb_rental': 1870.62,
  'airbnb_rental_rates': {'zeroBedRoomHomeValue': 1081.06,
   'oneBedRoomHomeValue': 1019.25,
   'twoBedRoomsHomeValue': 1356.15,
   'threeBedRoomsHomeValue': 2399.33,
   'fourBedRoomsHomeValue': 5748.68},
  'traditional_rental_rates': {'zeroBedRoomHomeValue': 1168.37,
   'oneBedRoomHomeValue': 1442.43,
   'twoBedRoomsHomeValue': 2102.52,
   'threeBedRoomsHomeValue': 3034,
   'fourBedRoomsHomeValue': 5262}},
 'message': 'City Overview fetched successfully'}

In [28]:
pd.DataFrame.from_dict(miami['content'])

,median_price,sqft,investment_properties,airbnb_properties,traditional_properties,occupancy,traditional_coc,airbnb_coc,traditional_rental,airbnb_rental,airbnb_rental_rates,traditional_rental_rates
zeroBedRoomHomeValue,450000,1508.31,3015,1884,10448,57,1.95135,-0.892265,2139,1870.62,1081.06,1168.37
oneBedRoomHomeValue,450000,1508.31,3015,1884,10448,57,1.95135,-0.892265,2139,1870.62,1019.25,1442.43
twoBedRoomsHomeValue,450000,1508.31,3015,1884,10448,57,1.95135,-0.892265,2139,1870.62,1356.15,2102.52
threeBedRoomsHomeValue,450000,1508.31,3015,1884,10448,57,1.95135,-0.892265,2139,1870.62,2399.33,3034.00
fourBedRoomsHomeValue,450000,1508.31,3015,1884,10448,57,1.95135,-0.892265,2139,1870.62,5748.68,5262.00

In [23]:
r_tpa_fl = requests.get("https://api.mashvisor.com/v1.1/client/city/investment/FL/Tampa", headers={'x-api-key':'5725594e-0d74-42f4-b436-1c822771152b'}) 
tampa= r_tpa_fl.json()
tampa

{'status': 'success',
 'content': {'median_price': 335000,
  'sqft': 1793.85,
  'investment_properties': 501,
  'airbnb_properties': 2571,
  'traditional_properties': 1980,
  'occupancy': 53,
  'traditional_coc': 3.03761,
  'airbnb_coc': 2.20986,
  'traditional_rental': 1660,
  'airbnb_rental': 2158.14,
  'airbnb_rental_rates': {'zeroBedRoomHomeValue': 982.858,
   'oneBedRoomHomeValue': 1156.4,
   'twoBedRoomsHomeValue': 1402.08,
   'threeBedRoomsHomeValue': 2461.99,
   'fourBedRoomsHomeValue': 3561.42},
  'traditional_rental_rates': {'zeroBedRoomHomeValue': 1066.56,
   'oneBedRoomHomeValue': 1052.55,
   'twoBedRoomsHomeValue': 1314.98,
   'threeBedRoomsHomeValue': 1933.35,
   'fourBedRoomsHomeValue': 2646.45}},
 'message': 'City Overview fetched successfully'}

In [24]:
pd.DataFrame.from_dict(tampa['content'])

,median_price,sqft,investment_properties,airbnb_properties,traditional_properties,occupancy,traditional_coc,airbnb_coc,traditional_rental,airbnb_rental,airbnb_rental_rates,traditional_rental_rates
zeroBedRoomHomeValue,335000,1793.85,501,2571,1980,53,3.03761,2.20986,1660,2158.14,982.858,1066.56
oneBedRoomHomeValue,335000,1793.85,501,2571,1980,53,3.03761,2.20986,1660,2158.14,1156.400,1052.55
twoBedRoomsHomeValue,335000,1793.85,501,2571,1980,53,3.03761,2.20986,1660,2158.14,1402.080,1314.98
threeBedRoomsHomeValue,335000,1793.85,501,2571,1980,53,3.03761,2.20986,1660,2158.14,2461.990,1933.35
fourBedRoomsHomeValue,335000,1793.85,501,2571,1980,53,3.03761,2.20986,1660,2158.14,3561.420,2646.45

In [25]:
r_fl_trends = requests.get("https://api.mashvisor.com/v1.1/client/trends/cities?state=FL", headers={'x-api-key':'5725594e-0d74-42f4-b436-1c822771152b'})
trends = r_fl_trends.json()
trends

{'status': 'success',
 'content': {'input': {'page': 1, 'items': 5, 'state': 'FL'},
  'total_page_results': 5,
  'cities': [{'city': 'Saint Petersburg',
    'state': 'FL',
    'occupancy': 55.94756435,
    'total_listing': 6281,
    'occ_listing': 351406.65166351},
   {'city': 'Fort Lauderdale',
    'state': 'FL',
    'occupancy': 55.09871429,
    'total_listing': 5129,
    'occ_listing': 282601.30556777},
   {'city': 'Sarasota',
    'state': 'FL',
    'occupancy': 51.96788182,
    'total_listing': 3967,
    'occ_listing': 206156.58717201},
   {'city': 'Orlando',
    'state': 'FL',
    'occupancy': 54.22032832,
    'total_listing': 3090,
    'occ_listing': 167540.81450262},
   {'city': 'Tampa',
    'state': 'FL',
    'occupancy': 53.9045125,
    'total_listing': 2843,
    'occ_listing': 153250.5290375}]}}

In [33]:
trends['content'].keys()

dict_keys(['input', 'total_page_results', 'cities'])

In [34]:
pd.DataFrame.from_dict(trends['content']['cities'])

               city state  occupancy  total_listing    occ_listing
0  Saint Petersburg    FL  55.947564           6281  351406.651664
1   Fort Lauderdale    FL  55.098714           5129  282601.305568
2          Sarasota    FL  51.967882           3967  206156.587172
3           Orlando    FL  54.220328           3090  167540.814503
4             Tampa    FL  53.904513           2843  153250.529038